table, tr, th, td {
    border: 1px solid black;
}

table {
    width: 400px;
}

.enlace {
    display: inline-block;
    background-color: blue;
    color: white;
}

#bloque { 
    display: inline;
   /*  text-align: center; */
    background-color: red;
}